CREATE DATABASE QLTV_BTL;
GO
USE QLTV_BTL
GO
/****** Object:  Table [dbo].[User]    Script Date: 02/15/2022 15:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[IDUser] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](250) NOT NULL,
	[PassWord] [varchar](250) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Adress] [nvarchar](250) NOT NULL,
	[Email] [varchar](250) NOT NULL,
	[Phone] [varchar](250) NOT NULL,
	[Status] [bit] NOT NULL,
	[NgayTao] [date] NULL,
	[NguoiTao] [varchar](50) NULL,
	[ModifiedDate] [date] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[IDQuyen] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUser] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON
INSERT [dbo].[User] ([IDUser], [UserName], [PassWord], [Name], [Adress], [Email], [Phone], [Status], [NgayTao], [NguoiTao], [ModifiedDate], [ModifiedBy], [IDQuyen]) VALUES (6, N'admin1', N'827ccb0eea8a706c4c34a16891f84e7b', N'Hoang Văn Thường', N'Quang Nam', N'a', N'a', 1, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[User] ([IDUser], [UserName], [PassWord], [Name], [Adress], [Email], [Phone], [Status], [NgayTao], [NguoiTao], [ModifiedDate], [ModifiedBy], [IDQuyen]) VALUES (11, N'chumninja', N'fc2a3906c310f090e7d194d867cf4de3', N'NGUYỄN THỊ THƯỜNG', N'Hương Sơn', N'thuongdt1002@gmail.com', N'0776212803', 1, CAST(0xD4420B00 AS Date), NULL, NULL, NULL, 1)
INSERT [dbo].[User] ([IDUser], [UserName], [PassWord], [Name], [Adress], [Email], [Phone], [Status], [NgayTao], [NguoiTao], [ModifiedDate], [ModifiedBy], [IDQuyen]) VALUES (12, N'hoangthuong', N'3ccc92e666eecce9d867dc7f3206a34a', N'HOANG VAN SANG', N'Hà Nam, Yên Thế, Đương Đại', N'sangdt97@gmail.com', N'0889932798', 1, CAST(0xE9420B00 AS Date), NULL, NULL, NULL, 2)
SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Table [dbo].[Slide]    Script Date: 02/15/2022 15:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Slide](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Image] [varchar](max) NULL,
	[DisPlayOrder] [int] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Link] [varchar](max) NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Slide] ON
INSERT [dbo].[Slide] ([Id], [Image], [DisPlayOrder], [Title], [Link], [Status]) VALUES (2, N'/DataImage/images/1.png', 1, N'Giấc Mơ Mỹ Đường Đến STANFORD', NULL, 1)
INSERT [dbo].[Slide] ([Id], [Image], [DisPlayOrder], [Title], [Link], [Status]) VALUES (3, N'/DataImage/images/1002.jpg', 2, N'Tủ Sách Ngoại Ngữ', NULL, 1)
INSERT [dbo].[Slide] ([Id], [Image], [DisPlayOrder], [Title], [Link], [Status]) VALUES (4, N'/DataImage/images/1003.jpg', 3, N'Top Sách Kỹ Năng Sống', NULL, 1)
SET IDENTITY_INSERT [dbo].[Slide] OFF
/****** Object:  Table [dbo].[Sanpham]    Script Date: 02/15/2022 15:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sanpham](
	[IDContent] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[MetaTitle] [varchar](250) NULL,
	[TacGia] [nvarchar](50) NOT NULL,
	[NhaXuatBan] [nvarchar](50) NOT NULL,
	[Soluong] [int] NOT NULL,
	[Images] [varchar](max) NULL,
	[CategoryID] [bigint] NULL,
	[Quanlity] [nvarchar](50) NULL,
	[NgayTao] [datetime] NOT NULL,
	[IDNguoiTao] [bigint] NULL,
	[Status] [bit] NOT NULL,
	[Tophot] [int] NOT NULL,
	[Mota] [nvarchar](max) NULL,
	[ChiTiet] [nvarchar](max) NULL,
	[IDNCC] [bigint] NULL,
	[GiaTien] [int] NOT NULL,
	[GiaNhap] [int] NULL,
	[PriceSale] [int] NULL,
	[TonKho] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDContent] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Sanpham] ON
SET IDENTITY_INSERT [dbo].[Sanpham] OFF
/****** Object:  Table [dbo].[Quyen]    Script Date: 02/15/2022 15:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[IDQuyen] [bigint] IDENTITY(1,1) NOT NULL,
	[TenQuyen] [nvarchar](250) NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDQuyen] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Quyen] ON
INSERT [dbo].[Quyen] ([IDQuyen], [TenQuyen], [Status]) VALUES (1, N'Admin', 1)
INSERT [dbo].[Quyen] ([IDQuyen], [TenQuyen], [Status]) VALUES (2, N'Khách hàng', 1)
SET IDENTITY_INSERT [dbo].[Quyen] OFF
/****** Object:  Table [dbo].[Orders]    Script Date: 02/15/2022 15:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Orders](
	[IDOder] [bigint] IDENTITY(1,1) NOT NULL,
	[NgayTao] [datetime] NULL,
	[CustomerID] [bigint] NULL,
	[ShipName] [nvarchar](50) NULL,
	[ShipMobile] [nvarchar](50) NULL,
	[ShipAddress] [nvarchar](50) NULL,
	[ShipEmail] [nvarchar](50) NULL,
	[Status] [int] NULL,
	[GiaoHang] [int] NULL,
	[NhanHang] [int] NULL,
	[GhiChu] [nvarchar](50) NULL,
	[DeliveryPaymentMethod] [nvarchar](50) NULL,
	[StatusPayment] [int] NULL,
	[OrderCode] [varchar](150) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[IDOder] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON
INSERT [dbo].[Orders] ([IDOder], [NgayTao], [CustomerID], [ShipName], [ShipMobile], [ShipAddress], [ShipEmail], [Status], [GiaoHang], [NhanHang], [GhiChu], [DeliveryPaymentMethod], [StatusPayment], [OrderCode]) VALUES (20, CAST(0x0000AD890166D1F5 AS DateTime), NULL, N'HOANG VAN THUONG', N'0366089040', N'Ha Noi', N'thuongdt1002@gmail.com', 0, 0, 0, NULL, N'COD', 2, NULL)
INSERT [dbo].[Orders] ([IDOder], [NgayTao], [CustomerID], [ShipName], [ShipMobile], [ShipAddress], [ShipEmail], [Status], [GiaoHang], [NhanHang], [GhiChu], [DeliveryPaymentMethod], [StatusPayment], [OrderCode]) VALUES (21, CAST(0x0000AD8901673D39 AS DateTime), NULL, N'HOANG VAN THUONG', N'0366089040', N'Ha Noi', N'thuongdt1002@gmail.com', 1, 0, 0, NULL, N'COD', 2, NULL)
INSERT [dbo].[Orders] ([IDOder], [NgayTao], [CustomerID], [ShipName], [ShipMobile], [ShipAddress], [ShipEmail], [Status], [GiaoHang], [NhanHang], [GhiChu], [DeliveryPaymentMethod], [StatusPayment], [OrderCode]) VALUES (22, CAST(0x0000AD8901675083 AS DateTime), NULL, N'NGUYỄN THỊ THƯỜNG', N'0776212803', N'', N'thuongdt1002@gmail.com', 1, 0, 0, NULL, N'COD', 2, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
/****** Object:  Table [dbo].[Order_Detail]    Script Date: 02/15/2022 15:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Detail](
	[ProductID] [bigint] NOT NULL,
	[OderID] [bigint] NOT NULL,
	[Quanlity] [int] NULL,
	[Price] [int] NULL,
 CONSTRAINT [PK_Order_Detail] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[OderID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Order_Detail] ([ProductID], [OderID], [Quanlity], [Price]) VALUES (3, 11, 1, 14000)
INSERT [dbo].[Order_Detail] ([ProductID], [OderID], [Quanlity], [Price]) VALUES (3, 19, 1, 14000)
INSERT [dbo].[Order_Detail] ([ProductID], [OderID], [Quanlity], [Price]) VALUES (3, 40, 13, 14000)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
/****** Object:  Table [dbo].[NhapHang]    Script Date: 02/15/2022 15:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapHang](
	[IDNhapHang] [bigint] IDENTITY(1,1) NOT NULL,
	[IDSanPham] [bigint] NULL,
	[GiaNhap] [int] NULL,
	[SoLuongNhap] [int] NULL,
	[NgayTao] [datetime] NULL,
	[Status] [int] NULL,
	[IDNCC] [bigint] NULL,
	[IDCategory] [bigint] NULL,
	[IDNguoiTao] [bigint] NULL,
	[StatusPayMent] [bit] NULL,
	[StatusInput] [bit] NULL,
 CONSTRAINT [PK_NhapHang] PRIMARY KEY CLUSTERED 
(
	[IDNhapHang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NhapHang] ON
INSERT [dbo].[NhapHang] ([IDNhapHang], [IDSanPham], [GiaNhap], [SoLuongNhap], [NgayTao], [Status], [IDNCC], [IDCategory], [IDNguoiTao], [StatusPayMent], [StatusInput]) VALUES (8, 20, 8000, 150, NULL, 2, 5, NULL, NULL, 1, 1)
INSERT [dbo].[NhapHang] ([IDNhapHang], [IDSanPham], [GiaNhap], [SoLuongNhap], [NgayTao], [Status], [IDNCC], [IDCategory], [IDNguoiTao], [StatusPayMent], [StatusInput]) VALUES (11, 17, 14000, 15, NULL, 2, 5, NULL, NULL, 1, 1)
INSERT [dbo].[NhapHang] ([IDNhapHang], [IDSanPham], [GiaNhap], [SoLuongNhap], [NgayTao], [Status], [IDNCC], [IDCategory], [IDNguoiTao], [StatusPayMent], [StatusInput]) VALUES (12, 9, 14000, 150, NULL, 2, 2, NULL, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[NhapHang] OFF
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 02/15/2022 15:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[IDNCC] [bigint] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](250) NOT NULL,
	[NgayTao] [date] NULL,
	[IDNguoiTao] [bigint] NULL,
	[Status] [bit] NOT NULL,
	[DiaChi] [nvarchar](250) NULL,
	[SoDienThoai] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNCC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON
INSERT [dbo].[NhaCungCap] ([IDNCC], [TenNCC], [NgayTao], [IDNguoiTao], [Status], [DiaChi], [SoDienThoai], [Email]) VALUES (1, N'Thúy Hường', CAST(0xF3420B00 AS Date), 11, 1, N'Hà Nội Phố Cổ Vip Pro idol', N'09020020', N'thuyhuong@edu.vn')
INSERT [dbo].[NhaCungCap] ([IDNCC], [TenNCC], [NgayTao], [IDNguoiTao], [Status], [DiaChi], [SoDienThoai], [Email]) VALUES (2, N'Hoàng Trung', CAST(0xE0420B00 AS Date), 8, 1, NULL, N'09020020', N'hoangtrung@gmail.com')
INSERT [dbo].[NhaCungCap] ([IDNCC], [TenNCC], [NgayTao], [IDNguoiTao], [Status], [DiaChi], [SoDienThoai], [Email]) VALUES (4, N'Vân Dung', NULL, 11, 1, NULL, N'09020020', N'vandung892@gmail.com')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
/****** Object:  Table [dbo].[Muon_Tra]    Script Date: 02/15/2022 15:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Muon_Tra](
	[IdMuon] [bigint] IDENTITY(1,1) NOT NULL,
	[IDContent] [bigint] NOT NULL,
	[IDUser] [bigint] NOT NULL,
	[SoluongMuon] [int] NOT NULL,
	[ThoigianM] [datetime] NULL,
	[ThoiGianHenTra] [datetime] NULL,
	[ThoigianTra] [datetime] NULL,
	[SoLanGiaHan] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMuon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Muon_Tra] ON
INSERT [dbo].[Muon_Tra] ([IdMuon], [IDContent], [IDUser], [SoluongMuon], [ThoigianM], [ThoiGianHenTra], [ThoigianTra], [SoLanGiaHan]) VALUES (1, 3, 11, 2, CAST(0x0000AD790181DB7F AS DateTime), CAST(0x0000AB9400000000 AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[Muon_Tra] OFF
/****** Object:  Table [dbo].[Messenger]    Script Date: 02/15/2022 15:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messenger](
	[IDMes] [bigint] IDENTITY(1,1) NOT NULL,
	[IDCustomer] [bigint] NULL,
	[NgayTao] [datetime] NULL,
	[Content] [nvarchar](250) NULL,
	[Status] [bit] NULL,
	[IDOrder] [bigint] NULL,
 CONSTRAINT [PK_Messenger] PRIMARY KEY CLUSTERED 
(
	[IDMes] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Messenger] ON
INSERT [dbo].[Messenger] ([IDMes], [IDCustomer], [NgayTao], [Content], [Status], [IDOrder]) VALUES (1, 1, CAST(0x0000AC5000000000 AS DateTime), NULL, 1, 1)
INSERT [dbo].[Messenger] ([IDMes], [IDCustomer], [NgayTao], [Content], [Status], [IDOrder]) VALUES (2, 15, CAST(0x0000AD8F0180BB20 AS DateTime), NULL, 1, 100)
INSERT [dbo].[Messenger] ([IDMes], [IDCustomer], [NgayTao], [Content], [Status], [IDOrder]) VALUES (3, 15, CAST(0x0000AD900010359D AS DateTime), NULL, 1, 101)
SET IDENTITY_INSERT [dbo].[Messenger] OFF
/****** Object:  Table [dbo].[MenuType]    Script Date: 02/15/2022 15:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MenuType](
	[MenuTypeID] [bigint] IDENTITY(1,1) NOT NULL,
	[NameType] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[MenuType] ON
INSERT [dbo].[MenuType] ([MenuTypeID], [NameType]) VALUES (1, N'Menu Chính')
INSERT [dbo].[MenuType] ([MenuTypeID], [NameType]) VALUES (2, N'Menu Top')
SET IDENTITY_INSERT [dbo].[MenuType] OFF
/****** Object:  Table [dbo].[Menu]    Script Date: 02/15/2022 15:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Menu](
	[IDMenu] [bigint] IDENTITY(1,1) NOT NULL,
	[NameMenu] [nvarchar](50) NOT NULL,
	[Link] [varchar](max) NULL,
	[DisplayOrder] [int] NULL,
	[Target] [varchar](max) NULL,
	[MenuTypeID] [bigint] NULL,
	[Status] [bit] NOT NULL,
	[CreateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDMenu] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON
INSERT [dbo].[Menu] ([IDMenu], [NameMenu], [Link], [DisplayOrder], [Target], [MenuTypeID], [Status], [CreateDate]) VALUES (3, N'Giới Thiệu', N'/gioi-thieu', 3, N'_self', 1, 1, CAST(0x0000AE0800D48760 AS DateTime))
INSERT [dbo].[Menu] ([IDMenu], [NameMenu], [Link], [DisplayOrder], [Target], [MenuTypeID], [Status], [CreateDate]) VALUES (5, N'Khuyến Mại', N'/khuyen-mai', 2, N'_self', 1, 1, CAST(0x0000AE0800D46C12 AS DateTime))
INSERT [dbo].[Menu] ([IDMenu], [NameMenu], [Link], [DisplayOrder], [Target], [MenuTypeID], [Status], [CreateDate]) VALUES (6, N'Sản Phẩm', N'/San-Pham', 1, N'_self', 1, 1, CAST(0x0000AE0200EB47C9 AS DateTime))
SET IDENTITY_INSERT [dbo].[Menu] OFF
/****** Object:  Table [dbo].[KhoHang]    Script Date: 02/15/2022 15:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoHang](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TenKho] [nvarchar](50) NULL,
	[IDProduct] [bigint] NULL,
	[SoLuongKho] [int] NOT NULL,
	[TonKho] [int] NOT NULL,
	[NgayTao] [datetime] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Footer]    Script Date: 02/15/2022 15:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Footer](
	[IdFooter] [bigint] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFooter] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Footer] ON
SET IDENTITY_INSERT [dbo].[Footer] OFF
/****** Object:  Table [dbo].[Feed_Back]    Script Date: 02/15/2022 15:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Feed_Back](
	[IDFeedBack] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Content] [nvarchar](250) NULL,
	[CreateDate] [datetime] NULL,
	[Status] [bit] NULL,
	[Reply] [nvarchar](max) NULL,
	[TieuDe] [nvarchar](250) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](50) NULL,
	[CustomerID] [bigint] NULL,
 CONSTRAINT [PK_Feed_Back] PRIMARY KEY CLUSTERED 
(
	[IDFeedBack] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Feed_Back] ON
INSERT [dbo].[Feed_Back] ([IDFeedBack], [Name], [Phone], [Email], [Address], [Content], [CreateDate], [Status], [Reply], [TieuDe], [UpdateDate], [UpdateBy], [CustomerID]) VALUES (4, N'HOANG VAN THUONG', N'0889932798', N'thuongdt1002@gmail.com', N'Quảng Nam', N' ok bây bê', CAST(0x0000AD8B01089FA1 AS DateTime), 0, NULL, N'Trợ giúp thông tin', NULL, NULL, NULL)
INSERT [dbo].[Feed_Back] ([IDFeedBack], [Name], [Phone], [Email], [Address], [Content], [CreateDate], [Status], [Reply], [TieuDe], [UpdateDate], [UpdateBy], [CustomerID]) VALUES (9, N'Hoang Thuy Luong', N'098988282', N'hvtnam1999@gmail.com', N'Huong Long, Hue, Thua Thien Hue', N' Tôi cần trợ giúp về vẫn đề nhận hàng', CAST(0x0000AD97000171E6 AS DateTime), 1, N' Tôi cần trợ giúp về vẫn đề nhận hàng', N'Tôi cần trợ giúp về vẫn đề nhận hàng', CAST(0x0000AD9700042D46 AS DateTime), N'admin1', NULL)
INSERT [dbo].[Feed_Back] ([IDFeedBack], [Name], [Phone], [Email], [Address], [Content], [CreateDate], [Status], [Reply], [TieuDe], [UpdateDate], [UpdateBy], [CustomerID]) VALUES (10, N'Hoang Thuy Luong', N'098988282', N'hvtnam1999@gmail.com', N'Huong Long, Hue, Thua Thien Hue', N' Tôi cần trợ giúp về vẫn đề nhận hàng hóa', CAST(0x0000AD9700BD2696 AS DateTime), 1, N' Tôi cần trợ giúp về vẫn đề nhận hàng hóa tôi đã có được thông tin của bạn và liên hệ qua cuộc gọi', N'Tôi cần trợ giúp về vẫn đề nhận hàng', CAST(0x0000AD9700D1F890 AS DateTime), N'admin1', 15)
SET IDENTITY_INSERT [dbo].[Feed_Back] OFF
/****** Object:  Table [dbo].[Contact]    Script Date: 02/15/2022 15:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[IDContact] [bigint] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[IDContact] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Contact] ON
INSERT [dbo].[Contact] ([IDContact], [Content], [Status]) VALUES (1, N'<p>100 Nguyễn Bình, TT. Đông Triều, tx. Đông Triều, Quảng Ninh, Việt Nam</p>', 1)
SET IDENTITY_INSERT [dbo].[Contact] OFF
/****** Object:  Table [dbo].[Category]    Script Date: 02/15/2022 15:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[IDCategory] [bigint] IDENTITY(1,1) NOT NULL,
	[TenTheloai] [nvarchar](250) NOT NULL,
	[MetaTitle] [varchar](250) NULL,
	[ParentID] [bigint] NULL,
	[SEOTitle] [varchar](250) NULL,
	[NgayTao] [date] NULL,
	[NguoiTao] [varchar](250) NULL,
	[ModifiedDate] [date] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[DisPlayOrder] [int] NULL,
	[MetaDescriptions] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCategory] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON
INSERT [dbo].[Category] ([IDCategory], [TenTheloai], [MetaTitle], [ParentID], [SEOTitle], [NgayTao], [NguoiTao], [ModifiedDate], [ModifiedBy], [DisPlayOrder], [MetaDescriptions], [Status]) VALUES (1, N'Khoa Học', N'khoa-hoc', NULL, NULL, CAST(0x57430B00 AS Date), NULL, NULL, NULL, 1, NULL, 1)
INSERT [dbo].[Category] ([IDCategory], [TenTheloai], [MetaTitle], [ParentID], [SEOTitle], [NgayTao], [NguoiTao], [ModifiedDate], [ModifiedBy], [DisPlayOrder], [MetaDescriptions], [Status]) VALUES (2, N'Tiểu Thuyết', N'Tieu-Thuyet', NULL, N'TieuThuyet', CAST(0xD4420B00 AS Date), NULL, NULL, NULL, 2, NULL, 1)
INSERT [dbo].[Category] ([IDCategory], [TenTheloai], [MetaTitle], [ParentID], [SEOTitle], [NgayTao], [NguoiTao], [ModifiedDate], [ModifiedBy], [DisPlayOrder], [MetaDescriptions], [Status]) VALUES (3, N'Trò Chơi Điện Tử', N'tro-choi-dien-tu', NULL, NULL, NULL, N'Admin123', NULL, NULL, 3, NULL, 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
/****** Object:  Default [DF__Muon_Tra__SoLanG__276EDEB3]    Script Date: 02/15/2022 15:09:20 ******/
ALTER TABLE [dbo].[Muon_Tra] ADD  DEFAULT ((0)) FOR [SoLanGiaHan]
GO
