<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.applicationHost">
      <section name="applicationPools" allowDefinition="AppHostOnly" overrideModeDefault="Deny" />
      <section name="sites" allowDefinition="AppHostOnly" overrideModeDefault="Deny" />
    </sectionGroup>
    <sectionGroup name="system.webServer">
      <section name="globalModules" allowDefinition="AppHostOnly" overrideModeDefault="Deny" />
      <section name="handlers" overrideModeDefault="Allow" />
      <section name="modules" allowDefinition="MachineToApplication" overrideModeDefault="Allow" />
      <section name="defaultDocument" overrideModeDefault="Allow" />
      <section name="directoryBrowse" overrideModeDefault="Allow" />
      <section name="httpErrors" overrideModeDefault="Allow" />
      <section name="httpProtocol" overrideModeDefault="Allow" />
      <section name="serverRuntime" overrideModeDefault="Allow" />
      <section name="staticContent" overrideModeDefault="Allow" />
      <section name="validation" overrideModeDefault="Allow" />
      <sectionGroup name="security">
        <section name="access" overrideModeDefault="Allow" />
        <section name="authorization" overrideModeDefault="Allow" />
        <section name="requestFiltering" overrideModeDefault="Allow" />
        <sectionGroup name="authentication">
          <section name="anonymousAuthentication" overrideModeDefault="Allow" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <system.applicationHost>
    <applicationPools>
      <add name="Clr4IntegratedAppPool" managedRuntimeVersion="v4.0" managedPipelineMode="Integrated" />
    </applicationPools>

    <sites>
      <site name="QLNhaSachLocal" id="1">
        <application path="/" applicationPool="Clr4IntegratedAppPool">
          <virtualDirectory path="/" physicalPath="D:\DUANNGHIENCUU\QLNhaSacha\BaiTapLon" />
        </application>
        <bindings>
          <binding protocol="http" bindingInformation="*:5080:localhost" />
        </bindings>
      </site>
    </sites>
  </system.applicationHost>

  <system.webServer>
    <globalModules>
      <add name="UriCacheModule" image="%IIS_BIN%\cachuri.dll" />
      <add name="TokenCacheModule" image="%IIS_BIN%\cachtokn.dll" />
      <add name="DefaultDocumentModule" image="%IIS_BIN%\defdoc.dll" />
      <add name="DirectoryListingModule" image="%IIS_BIN%\dirlist.dll" />
      <add name="ProtocolSupportModule" image="%IIS_BIN%\protsup.dll" />
      <add name="StaticFileModule" image="%IIS_BIN%\static.dll" />
      <add name="AnonymousAuthenticationModule" image="%IIS_BIN%\authanon.dll" />
      <add name="UrlAuthorizationModule" image="%IIS_BIN%\urlauthz.dll" />
      <add name="RequestFilteringModule" image="%IIS_BIN%\modrqflt.dll" />
      <add name="CustomErrorModule" image="%IIS_BIN%\custerr.dll" />
      <add name="ManagedEngineV4.0_32bit" image="%windir%\Microsoft.NET\Framework\v4.0.30319\webengine4.dll" preCondition="integratedMode,runtimeVersionv4.0,bitness32" />
      <add name="ManagedEngineV4.0_64bit" image="%windir%\Microsoft.NET\Framework64\v4.0.30319\webengine4.dll" preCondition="integratedMode,runtimeVersionv4.0,bitness64" />
      <add name="ConfigurationValidationModule" image="%IIS_BIN%\validcfg.dll" />
    </globalModules>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers accessPolicy="Read, Script">
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Default.aspx" />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
    <security>
      <access sslFlags="None" />
      <authorization>
        <add accessType="Allow" users="*" />
      </authorization>
      <authentication>
        <anonymousAuthentication enabled="true" userName="" />
      </authentication>
    </security>
  </system.webServer>
</configuration>

